html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  background-color: snow;
}

a{
  color: #1b6d85;
}

.error{
  background-color: #F6C6CE;
  color: #800;
  border: 1px solid #800;
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 10px;
}

/**
  ROLL FORM
 */
.form-field{
  width: 100%;
  margin-bottom: 10px;
  text-align: center;

  label{
    font-weight: 700;
  }

  input, textarea, select{
    border-radius: 0;
    border: 1px solid #333;
    padding: 5px 10px;
    width: 100%;
  }

  input, select{
    height: 30px;
  }

  textarea{
    max-width: 100%;
    resize: none;
  }
}
#roll-button{
  background-color: #1b6d85;
  color: white;
  height: auto;
  text-align: center;
  padding: 10px 5px;
  font: 700 1.25em "Open Sans Condensed", sans-serif;
  text-transform: uppercase;

  &:hover{
    cursor: pointer;
    background-color: #BEE9EA;
    color: #1b6d85;
  }
}


/**
  ROLL RESULTS
 */
#roll-results{
  width: 100%;
  text-align: center;
  color: #2e3436;
  text-transform: uppercase;
  font: 700 2em/.5em "Open Sans Condensed", sans-serif;
  margin: 0;

  span{
    font: 700 3em/1em "Open Sans Condensed", sans-serif;
    display: block;

    &:before, &:after{
      content: "-";
      color: #5e5e5e;
    }
  }
}


#roll-again{
  background-color: #1b6d85!important;

  td{
    padding: 0;
  }

  a{
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 5px;
    font: 700 1.25em "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }

  &:hover{
    background-color: #BEE9EA !important;

    a{
      color: #1b6d85;
    }
  }
}

#raw-roll-data{
  text-align: left;
  color: #5e5e5e;

  strong{
    color: #1b6d85;
  }
}

#raw-roll-data, #raw-roll-data ul, #raw-roll-data ul li ul{
  list-style: square;
}

/**
  TABLES
*/


table{
  width: 100%;

  tr:nth-child(even){
    background-color: #BEE9EA;
  }

  tr:nth-child(odd){
    background-color: #d9edf7;
  }

  td{
    padding: 10px;
    width: 50%;
  }

  tr td:first-child{
    text-align: left;
    font-weight: 700;
  }

  tr td:nth-child(2){
    text-align: right;
  }

  &-header{
    text-align: center !important;
    padding: 5px!important;
    background-color: #1b6d85;
    color: white;
    font: 700 1.25em "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
  }
}

/*
  CHARACTER SHOW PAGE
*/

#character-roll-list{
  list-style-type: square;
}

.roll-note-link{
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dashed #1b6d85;
  color: inherit;
}